.model{
    border: 1px solid yellow;
    height: 300px;
    width: 300px;
  }

  .top-para , .top-heading{
    color: white;
  }

  .main-container{
    height: 100vh;
    display: flex;
    align-items: center;

  }


  