@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 0.8rem;
  }
  ::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
   
  }
  
  ::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border: 5px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
  }